In [1]:
import pandas as pd
import numpy as np

In [2]:
Q1 = [x + 1 for x in range(3)]
Q3 = [x + 1 for x in range(2)]
Q4 = [x + 1 for x in range(5)]
Q5 = [x + 1 for x in range(3)]
Q6 = [x + 1 for x in range(4)]
Q8 = [x + 1 for x in range(3)]

import itertools
lists = [Q1,Q3,Q4,Q5,Q6,Q8]
result = list(itertools.product(*lists))

In [3]:
df = pd.DataFrame(result)

In [4]:
df

      0  1  2  3  4  5
0     1  1  1  1  1  1
1     1  1  1  1  1  2
2     1  1  1  1  1  3
3     1  1  1  1  2  1
4     1  1  1  1  2  2
...  .. .. .. .. .. ..
1075  3  2  5  3  3  2
1076  3  2  5  3  3  3
1077  3  2  5  3  4  1
1078  3  2  5  3  4  2
1079  3  2  5  3  4  3

[1080 rows x 6 columns]

In [5]:
risk = pd.read_excel("numnum.xlsx")
risk

        Risk
0    -0.0484
1    -0.0604
2    -0.0688
3    -0.0604
4    -0.0604
...      ...
1075 -0.0773
1076 -0.0900
1077 -0.0773
1078 -0.0773
1079 -0.0900

[1080 rows x 1 columns]

In [6]:
risk = risk["Risk"].tolist()
df['risk'] = risk

In [7]:
df.columns = ['InvestHorizon','WhereMoneyNow','ReturnExp','Age','InvestableAsset','Income','MaxDrawD']

In [8]:
from sklearn.preprocessing import OneHotEncoder
cat = df.columns[:-1]
X = df[cat]

enc = OneHotEncoder(handle_unknown='ignore')
newx = enc.fit_transform(X).toarray()

enc_df = pd.DataFrame(newx)

In [9]:
enc_df.columns = ['InvHoriz: 1~3Y','InvHoriz: 3~5Y','InvHoriz: 5+Y','AssetSource: Equity','AssetSource: Bank','RetExp: 4%,-0%','RetExp: 6%,-2%','RetExp: 10%,-7%','RetExp: 15%,-15%','RetExp: 30%,-40%','Age: 18','Age: 30','Age55','AsVal: -10','AsVal: 10~50','AsVal: 50~200','AsVal: 200+','Income: 5k','Income: 1w','Income: 10w']
enc_df['MaxDrawD'] = risk
enc_df

,InvHoriz: 1~3Y,InvHoriz: 3~5Y,InvHoriz: 5+Y,AssetSource: Equity,AssetSource: Bank,"RetExp: 4%,-0%","RetExp: 6%,-2%","RetExp: 10%,-7%","RetExp: 15%,-15%","RetExp: 30%,-40%",...,Age: 30,Age55,AsVal: -10,AsVal: 10~50,AsVal: 50~200,AsVal: 200+,Income: 5k,Income: 1w,Income: 10w,MaxDrawD
0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.0484
1,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.0604
2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.0688
3,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,-0.0604
4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,-0.0604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-0.0773
1076,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.0900
1077,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,-0.0773
1078,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.0773
1079,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,-0.0900

In [34]:
newyy = []
for x in enc_df['MaxDrawD']:
    if x == -0.0484:
        newyy.append('Portfolio3')
    elif x == -0.0383:
        newyy.append('Portfolio2')
    elif x == -0.0604:
        newyy.append('Portfolio4')
    elif x == -0.0688:
        newyy.append('Portfolio5')
    elif x == -0.0773:
        newyy.append('Portfolio6')
    elif x == -0.0900:
        newyy.append('Portfolio7')
    elif x == -0.0925:
        newyy.append('Portfolio8')
    else:
        newyy.append('Portfolio9')

In [65]:
enc_df['PortfolioNum'] = newyy
enc_df = enc_df.drop(['MaxDrawD'], axis=1)

In [66]:
np.unique(enc_df['PortfolioNum'])

array(['Portfolio3', 'Portfolio4', 'Portfolio5', 'Portfolio6',
       'Portfolio7', 'Portfolio8', 'Portfolio9'], dtype=object)

In [67]:
X = enc_df[enc_df.columns[:len(enc_df.columns)-1]]
y = enc_df['PortfolioNum']
X_train, X_test = X.iloc[:int(len(df)*0.7)], X.iloc[int(len(df)*0.7):]
y_train, y_test = y[:int(len(df)*0.7)], y[int(len(df)*0.7):]

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold

model = LogisticRegression(multi_class='multinomial', solver='lbfgs',max_iter = 1000)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

In [68]:
print('Mean Accuracy: %.3f (%.3f)' % (np.mean(n_scores), np.std(n_scores)))

Mean Accuracy: 0.849 (0.028)

In [69]:
glm = model.fit(X,y)

In [70]:
glm.classes_

array(['Portfolio3', 'Portfolio4', 'Portfolio5', 'Portfolio6',
       'Portfolio7', 'Portfolio8', 'Portfolio9'], dtype=object)

In [80]:
coef = glm.coef_
coef[-1]

array([ 0.19555718, -0.38622492,  0.19124412,  0.00458733, -0.00401095,
        0.38068602, -0.26184394, -0.26008929, -0.24938615,  0.39120975,
        0.17461165,  0.2117947 , -0.38582996,  0.31635866, -0.31353191,
       -0.31448033,  0.31222997,  0.20157182, -0.3738948 ,  0.17289937])

In [72]:
len(coef[0])

20

In [73]:
glm.intercept_

array([-2.88077026,  0.57184734,  3.48743936,  3.25942387,  0.28717504,
       -2.98552315, -1.7395922 ])

In [144]:
result1 = pd.DataFrame(["{:.2%}". format(np.exp(x)/(1+np.exp(x))) for x in coef[0]], 
             X.columns, 
             columns=[glm.classes_[0]])

In [145]:
for x in range(1,7):
    result1[glm.classes_[x]] = ["{:.2%}". format(np.exp(y)/(1+np.exp(y))) for y in coef[x]]

In [146]:
add = pd.DataFrame(glm.intercept_[0],columns = list(glm.classes_),index = ['Intercept'])

In [147]:
for x in range(0,7):
    add[glm.classes_[x]] = "{:.2%}". format(np.exp(glm.intercept_[x])/(1+np.exp(glm.intercept_[x])))

In [148]:
result1 = result1.append(add)
result1

,Portfolio3,Portfolio4,Portfolio5,Portfolio6,Portfolio7,Portfolio8,Portfolio9
InvHoriz: 1~3Y,85.64%,77.88%,59.48%,35.81%,19.52%,16.48%,54.87%
InvHoriz: 3~5Y,50.93%,52.91%,52.90%,53.49%,52.83%,46.57%,40.46%
InvHoriz: 5+Y,13.90%,20.17%,37.77%,60.92%,78.63%,85.32%,54.77%
AssetSource: Equity,5.35%,10.56%,33.26%,70.41%,89.36%,93.75%,50.11%
AssetSource: Bank,94.65%,89.44%,66.76%,29.60%,10.64%,6.25%,49.90%
"RetExp: 4%,-0%",96.37%,91.66%,65.44%,21.91%,6.37%,6.09%,59.40%
"RetExp: 6%,-2%",83.50%,80.87%,63.12%,39.49%,22.17%,16.03%,43.49%
"RetExp: 10%,-7%",43.95%,53.52%,53.47%,53.40%,54.45%,47.73%,43.53%
"RetExp: 15%,-15%",14.85%,23.12%,44.24%,66.60%,79.11%,80.34%,43.80%
"RetExp: 30%,-40%",5.16%,5.86%,25.30%,70.52%,91.94%,95.58%,59.66%
Age: 18,95.80%,89.82%,65.25%,25.69%,8.99%,6.10%,54.35%
Age: 30,8.10%,13.80%,34.68%,66.84%,85.88%,89.80%,55.28%
Age55,33.18%,41.44%,50.09%,58.95%,62.46%,63.59%,40.47%
AsVal: -10,93.35%,87.45%,64.54%,27.68%,10.29%,8.52%,57.84%
AsVal: 10~50,70.88%,69.10%,58.27%,46.39%,35.48%,27.44%,42.23%
AsVal: 50~200,27.20%,34.86%,46.04%,60.63%,69.62%,69.47%,42.20%
AsVal: 200+,7.26%,10.70%,31.57%,66.23%,87.36%,92.58%,57.74%
Income: 5k,93.91%,90.29%,66.76%,27.55%,8.65%,7.31%,55.02%
Income: 1w,71.49%,75.38%,63.40%,46.18%,34.18%,19.69%,40.76%
Income: 10w,2.52%,3.39%,22.33%,75.41%,95.31%,98.10%,54.31%
Intercept,5.31%,63.92%,97.03%,96.30%,57.13%,4.81%,14.94%

In [149]:
result1.to_excel("MutiNomRegRes.xlsx")

In [150]:
enc_df

,InvHoriz: 1~3Y,InvHoriz: 3~5Y,InvHoriz: 5+Y,AssetSource: Equity,AssetSource: Bank,"RetExp: 4%,-0%","RetExp: 6%,-2%","RetExp: 10%,-7%","RetExp: 15%,-15%","RetExp: 30%,-40%",...,Age: 30,Age55,AsVal: -10,AsVal: 10~50,AsVal: 50~200,AsVal: 200+,Income: 5k,Income: 1w,Income: 10w,PortfolioNum
0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,Portfolio3
1,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,Portfolio4
2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,Portfolio5
3,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,Portfolio4
4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,Portfolio4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,Portfolio6
1076,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,Portfolio7
1077,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,Portfolio6
1078,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Portfolio6
1079,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Portfolio7

In [184]:
compare = enc_df['AsVal: 200+'].astype('category')

In [185]:
cc = pd.DataFrame(enc_df['PortfolioNum'])
cc['10w'] = compare

In [186]:
cc.groupby(['10w','PortfolioNum']).size()

10w  PortfolioNum
0.0  Portfolio3       34
     Portfolio4      161
     Portfolio5      279
     Portfolio6      232
     Portfolio7       91
     Portfolio8       12
     Portfolio9        1
1.0  Portfolio3        1
     Portfolio4       20
     Portfolio5       72
     Portfolio6       95
     Portfolio7       64
     Portfolio8       17
     Portfolio9        1
dtype: int64